{% extends "layout.html" %}
{% block title %} Home {% endblock %}
{% block body %}
  <div class="row">
    <div class="col-md-12">
      <table id="instructorTable"
             class="table table-bordered table-condensed table-hover text-center"
             width="100%"
             cellspacing="0">
        <thead>
          <tr>
            <th width="26%">Instructor</th>
            <th width="12%">Ratings</th>
            <th width="12%">Overall</th>
            <th width="12%">Assignments</th>
            <th width="12%">Exams</th>
            <th width="12%">Helpfulness</th>
            <th width="12%">Enthusiasm</th>
          </tr>
        </thead>
        <tbody>
          {% for instructor in instructors %}
          <tr>
            <td>
              <a href="{{ url_for('instructor', instructor_id=instructor.id) }}">
              {{ instructor.name }}</a>
              [<a href="{{ instructor.ninjaurl }}">NC</a>]
            </td>
            <td>{{ instructor.numratings }}</td>
            <td class="rating overall">{{ instructor.overall }}</td>
            <td class="rating assignments">{{ instructor.assignments }}</td>
            <td class="rating exams">{{ instructor.exams }}</td>
            <td class="rating helpfulness">{{ instructor.helpfulness }}</td>
            <td class="rating enthusiasm">{{ instructor.enthusiasm }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
{% block javascript %}
  <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/dataTables.bootstrap.js') }}"></script>
  <script>
    $("th").addClass("text-center");
    $(document).ready(function() {
      $("#instructorTable").DataTable();
    });
  </script>
{% endblock %}
